<div class="grid_3 progress_bar_container">
  <div id="progress_bar">
    Lives you have left: 
    <%= @user.lives %>

    <br/>

    Bundle progress:
    <%= @user.current_bundle %> out of <%=  NUM_BUNDLES %>
  </div>
</div>
